extends layout.pug

block content

    h1 Books
    p
      a.button(href='/books/new-book', id='new_book_button') Create New Book
      a.button(href='/books/update-book', id='update_book_button') Update Book

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        tr
          td
            a(href='book_detail.html') The Hunger Games
          td Suzanne Collins
          td Fantasy
          td 2008
        tr
          td
            a(href='book_detail.html') Catching Fire
          td Suzanne Collins
          td Fantasy