extends layout.pug

block content
    
    h1 Library Database
    form(action='/books', method='POST')

      input(type='text' id='search_bar' value='Search...')
      input(type='submit' id='search_button' placeholder='Search')

      p
        a.button(href='/books/new', id='new_book_button') Create New Book

      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
        each book in books
          book
          tr(class='row-style')
            td
              a(href="/books/" + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year
