doctype html
head
  title Library Database
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(rel="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(rel='text/javascript', scr='../javascripts/script.js')
block content

