doctype html
head
  title Biblio-Database
  link(rel='stylesheet', href='/static/stylesheets/style.css')
  script(rel="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(rel="text/javascript", src="/static/javascripts/main.js")

block content

