body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  text-align: center;
}

a {
  color: #0300c9;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: #980101;
  }

a.button, input[type=submit] {
  color: white;
  background: #980101ce;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  border: 1.2px solid black;
}

#button_grid {
  display: grid;
  margin-right: 35%;
  margin-left: 38%;
}

.grid_button_1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1.35px solid black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid_button_2 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1.35px solid black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid_button_3 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1.35px solid black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#button_grid_2 {
  display: grid;
  margin-right: 35%;
  margin-left: 38%;
}

.grid_button_4 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1.35px solid black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid_button_5 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  border: 1.35px solid black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

form a.button, input[type=submit] {
  transition: 0.4s;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.button:hover, input[type=submit]:hover {
    background-color: #980101;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 30px 20px 5px 10px;
}

table {
  margin: auto;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #ffe7ed;
}

td {
  padding: 5px 20px 5px 10px;
}



label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}